{% extends 'base2.html' %}
{% load static %}
<html>
<head>
    <link href="{% static 'facultyregistration/css/test1.css' %}" rel="stylesheet" type="text/css">
    <style>
        body
        {
            background-image:url('{% static "facultyregistration/images/oxford2.png"  %}');
        }
    </style>
</head>
{% block content %}
<font size="10">You have signed in as {{facname}}<img src="{% static 'facultyregistration/images/user.png' %}" width="50" height="50"></font>
<h2> Oops !!! You Have given two or more choices of Same Courses</h2>
<br><br>
<form action="{{path}}" method="get">
    <input type="hidden" value="{{facname}}" name="facultyname">
    <input type="hidden" value="{{path}}" name="path">
    <input type="submit" value="ChoiceFillingForm">

</form>
</html>
{% endblock %}