{% extends 'base1.html' %}
{% load static %}
{% block content %}
<head>
     <link href="{% static 'facultyregistration/css/test1.css' %}" rel="stylesheet" type="text/css">
    <style>
    body
    {
        background-image:url('{% static "facultyregistration/images/oxford2.png" %}');
    }</style>
    <font size="7">You are signed in as Dr H P Singh<img src="{% static 'facultyregistration/images/user.png' %}" height="50" width="50"></font>
<h2><form method="post" action="/facultyregistration/removecourse/">
   {% csrf_token %}
    <label for="CourseId">CourseId</label>
    <input type="text" name="courseid" placeholder="--CourseId--">
    <br><br>
    <input type="submit" value="Submit">
</form>
</h2>

{% endblock %}