% extends 'base1.html' %}
{% load static %}
{% block content %}
<head>
     <link href="{% static 'CourseAllocation/css/test2.css' %}" rel="stylesheet" type="text/css">
    <style>
        body
        {
            background-image:url('{% static "CourseAllocation/images/oxford1.png" %}')
        }
    </style>
</head>
<body>
<h1><center><font size="5">You are signed in as {{name}} Hod Sir!!!</font><img src="{% static 'facultyregistration/images/user.png' %}" height="50" width="50"></center></h1>
</body>